<!DOCTYPE html>

<html>

<head>
    {include file="public/meta"}

</head>

<body>


    <div class="container">
        {include file="public/left"}
        <div class="right_content">
                {include file="public/top"}
            <div class="right_content_main">
                <div class="welcome padding_20">
                    <blockquote class="layui-elem-quote">{$username}欢迎您！</blockquote>
                        <p><b>· 系统版本：</b>Dong0.0.1--6.0.2</p>
                        <p><b>· 图片上传：</b>请尽量上传小于250KB的图片，图片过大会影响网页的加载速度</p>
                        <p><b>· 版权所有：</b>此系统为***原创开发，***保留所有版权，请勿用作其他商业用途。</p>
                        <p><b>· 联系我们：</b>QQ1031950015</p>

                    <blockquote class="layui-elem-quote mar_t_30">常见问答</blockquote>
                        <p><b>问：修改后为什么没有看到页面效果？</b></p>
                        <p style="margin-bottom: 5px;">答：通常情况下，修改后页面实时生效。可通过在浏览器中尝试CTRF+f5强制刷新清除缓存的方法，如果仍然没有更新，请联系管理员。</p>
                        <p><b>问：如何修改网站公司简介内容？</b></p>
                        <p style="margin-bottom: 5px;">答：通常情况下，网站公司简介属于单页面内容，在【栏目内容】-【栏目管理】-【公司简介】点击修改，在“栏目内容”处修改。</p>
                        <p><b>问：如何添加新文章？</b></p>
                        <p style="margin-bottom: 5px;">答：在【栏目内容】-【栏目管理】点击要添加文章的栏目，在弹出的页面中，直接添加文章即可。</p>
                        <p><b>问：如何修改网站三大标签？</b></p>
                        <p style="margin-bottom: 5px;">答：在【系统管理】-【系统参数】修改。</p>
                        <p><b>问：如何修改网站电话、邮箱、地址？</b></p>
                        <p style="margin-bottom: 5px;">答：在【系统管理】-【系统参数】修改。</p>
                        <p><b>问：广告管理有什么用处？</b></p>
                        <p style="margin-bottom: 5px;">答：主要用于轮播图等广告图片管理。</p>
                        <p><b>问：不会photoshop如何处理图片大小呢？</b></p>
                        <p style="margin-bottom: 5px;">答：通常情况下拍照后的图片比较大，直接上传会影响加载速度。处理图片最方便的工具就是截图，QQ截图或者微信截图，截图时候可以实时看到图片尺寸大小，保存到本地后再上传。</p>
                        <p><b>问：编辑器中如何快速上传图片？</b></p>
                        <p style="margin-bottom: 5px;">答：QQ截图或者微信截图后，点击完成，直接粘贴在编辑器中即可。</p>
                        <p><b>问：模型管理和模型字段有什么用处？</b></p>
                        <p style="margin-bottom: 5px;">答：<span class="colorred">【模型字段】和【模型管理】属于管理员操作，请勿修改。</span></p>
                </div>
            </div>
        </div>
    </div>
    {include file="public/foot"}




</body>

</html>