<!DOCTYPE html>

<html>

<head>
    {include file="public/meta"}

</head>

<body>


    <div class="container">
        {include file="public/left"}
        <div class="right_content">
            {include file="public/top"}
            <div class="right_content_main">
                <div class="right_content_main_box padding_20">
                    <span class="layui-breadcrumb">
                        <a href="{:url('index/index')}">首页</a>
                        <a><cite>修改密码</cite></a>
                    </span>
                    <form class="layui-form editpassword_form" action="" method="post">
                        <div class="layui-form-item text_center mar_t_30">
                            <input type="password" name="password" placeholder="请输入新密码" autocomplete="off"
                                class="layui-input">

                        </div>
                        <p class="colorred" style="font-size: 12px">密码长度大于6位数</p>
                        <div class="layui-form-item text_center mar_t_30">
                            <button class="layui-btn" type="submit">立即提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {include file="public/foot"}



</body>

</html>