<!DOCTYPE html>

<html>

<head>
  {include file="public/meta"}

</head>

<body>


  <div class="container">
    {include file="public/left"}
    <div class="right_content">
      {include file="public/top"}
      <div class="right_content_main">
        <div class="right_content_main_box padding_20">
          <span class="layui-breadcrumb">
            <a href="{:url('index/index')}">首页</a>
            <a href="{:url('ad/ad_type')}">广告分组</a>
            <a><cite>修改</cite></a>
          </span>
          <form class="layui-form mar_t_30" action="" method="post">
            <div class="layui-form-item">
              <label class="layui-form-label">分组名称</label>
              <div class="layui-input-block">
                <input type="hidden" name="id" value="{$adTypeData.id}" class="layui-input">
                <input type="text" name="name" value="{$adTypeData.name}" class="layui-input">
              </div>
            </div>

         
            <div class="layui-form-item ">
                <label class="layui-form-label">&nbsp;</label>
                <div class="layui-input-block"><button class="layui-btn" type="submit">立即提交</button></div>
            </div>

          </form>
        </div>


      </div>
    </div>
  </div>
  {include file="public/foot"}




</body>

</html>