<div class="footer_w">
    <div class="footer">
      <div class="txt">
         <div class="t_1">{$web_title}</div>
      
         <div class="t_2">全国统一咨询热线：{$tel1} &nbsp;<br>
  <span>联系地址：{$address} &nbsp;{$beian}</span>
          </div>
      </div>
      <div class="ewm">
        <div class="pic"><img src="/public/static/index/images/ewm.jpg" width="87" height="87"></div>
        <div class="ewm_txt">
        微信扫一扫<br>
  即时与客服沟通
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>