<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{$categoryData.seo_title}</title>
  <meta name="keywords" content="{$categoryData.seo_keywords}" />
  <meta name="description" content="{$categoryData.seo_description}" />

  <link href="/public/static/index/css/style.css" rel="stylesheet" type="text/css">
  <link href="/public/static/index/css/qing.css" rel="stylesheet" type="text/css">
  <link href="/public/static/index/css/qingstyle.css" rel="stylesheet" type="text/css">
  <link href="/public/static/index/css/layui.css" rel="stylesheet" type="text/css">
  <script src="/public/static/index/js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="/public/static/index/js/js.js" type="text/javascript"></script>


</head>

<body>
  {include file="public/head"}
  <div class="nbanner"
    style="background: url({php}$categoryData['thumb']=str_replace('\\','/',$categoryData['thumb']);echo $categoryData['thumb'];{/php}) no-repeat center center; width: 100%;height: 333px">
  </div>
  <div class="positionbg">

    <div class="layui-container">

      <img src="/public/static/index/images/home.jpg">&nbsp;当前位置：<a href='/'>首页</a> > <a href='/lxwm/'>联系我们</a>

    </div>

  </div>

  <div class="layui-container">


    {include file="public/left"}

    <div class="mar_t_30 mar_b_30" id="nright_content">

    {$categoryData.content|raw}

    </div>



  </div>

  {include file="public/foot"}


  </div>

</body>

</html>